numpy>=1.22.3
scipy>=1.8.0
pandas>=1.2.0
# scikit-image>=0.18
matplotlib>=3.5.1
notebook>=6.4.10
ipywidgets>=7.7,<7.8
pytest>=7.1.1,<7.2
joblib>=1.1,<1.2
tqdm>=4.64,<4.65
numba>=0.56.4
Pillow==9.2
sparse==0.13.0
line_profiler>=4.0.1
mesa
